@import "tailwindcss";

@import '@fontsource-variable/inter/wght.css';
@import '@fontsource-variable/baloo-2/wght.css';

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  color-scheme: dark;
}

body {
  font-family: 'Inter Variable', sans-serif;
}

.font-baloo2 {
  font-family: 'Baloo 2 Variable', system-ui;
}